[submodule "trustystack-frontend"]
	path = trustystack-frontend
	url = git@github.com:BlakeDonn/trustystack-frontend.git
[submodule "trustystack-backend/rust"]
	path = trustystack-backend/rust
	url = git@github.com:BlakeDonn/trustystack-rust.git
